<IfModule mod_rewrite.c>
RewriteEngine On
Options All -Indexes

# WWW Redirect
# RewriteCond %{HTTP_HOST} !^www\. [NC]
# RewriteRule ^ http://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# URL Rewrite
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ /Clig/Project02_bk_27-05/sysdeveloper/index.php/$1 [L]
</IfModule>